* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background: rgba(39, 46, 51, 1);
  color: #9DA9A0;
}

.modules-left {
  margin: 5px 3px 5px 5px;
}

#workspaces button {
  padding: 0 2px;
  color: #9DA9A0;
}

#workspaces button.active {
  color: #D3C6AA;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#window {
  padding: 0 5px;
}

#clock {
  margin: 5px 3px;
}

#custom-media,
#custom-brightness,
#pulseaudio,
#battery,
#tray,
#custom-wlogout {
  margin: 5px 3px;
}

#custom-media {
}

#pulseaudio {
}

#battery {
}

#battery.warning {
}

#battery.critical {
}

#tray {
}

#custom-wlogout {
  margin-right: 15px;
}

tooltip label {
  color: #9DA9A0;
}
